node_modules/

# Keep environment variables out of version control
.env
.env.local
.env.production
.env.docker
prisma/.env*
prisma/.env.docker

.prisma/
generated/

/coverage

# Docker
mysql-data/
*.pid
*.log